.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 15vh;
	overflow: hidden;
}

.randomButton {
	position: fixed;
	left: 5%;
	top: 15%;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
}

.randomButton::before,
.randomButton::after {
	content: "";
	position: absolute;
	background-color: white;
}

.randomButton::before {
	width: 500%;
	height: 50px; /* Adjust this value to change the thickness of the cross */
	top: calc(
		50% + 100px
	); /* Adjust this value to vertically center the horizontal line */
}

.randomButton::after {
	width: 50px; /* Adjust this value to change the thickness of the cross */
	height: 750%;
	left: calc(
		50% + 100px
	); /* Adjust this value to horizontally center the vertical line */
}

.focus {
	font-size: clamp(12px, 1.5vw, 2vw);
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 50%;
	right: 4.5%;
	text-transform: uppercase;
	margin-bottom: 2.5vh;
	justify-content: center;
	writing-mode: vertical-rl;
}

.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	order: 2;
}

.title {
	bottom: 5%;
	text-align: left;
	position: fixed;
	width: 100vh;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	padding: 0;
	font-size: 2.75vw;
}
